<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca Rosedu</title>
    <%= render 'layouts/styles' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <section class="round">
        <%= yield %>
      </section>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
